html.
	<div id="anchor"></div>
	<script src="http://localhost:8040/socket.io/socket.io.js"></script>
	<script src="http://fb.me/react-0.10.0.js"></script>
	<script src="http://fb.me/JSXTransformer-0.10.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="./splits2.js" type="text/jsx">
	</script>
	</body>
	</html>